[submodule "hate-speech-and-offensive-language"]
	path = hate-speech-and-offensive-language
	url = https://github.com/t-davidson/hate-speech-and-offensive-language.git
[submodule "pyGAT"]
	path = pyGAT
	url = https://github.com/jpngfile/pyGAT.git
